<main id="main" class="ml-auto mr-auto" style="width:{{ theme.main_width }}">
<h3 class="text-2xl mt-3">{{ title }}{% if ico %} <span class="ico ico-{{ ico }}"></span>{% endif %}</h3>
<div class="flex my-2">
  <ul class="posts-list flex-grow {{ theme.posts_list_color }} text-sm md:text-base">
  {% for post in posts %}
  <li class="post-item py-2 {{ theme.posts_list_hover }} ">
    <a href="{{ post.url }}" class="flex justify-between">
      {{ post.title }}
      <time class="post-day" datetime="{{ post.isoDate }}">{{ new Date(post.date).format("yyyy LLL dd") }}</time>
    </a>
  </li>
  {% endfor %}
  </ul>
</div>
</main>
