---
title: Page not found
layout: page
permalink: /404.html
eleventyExcludeFromCollections: true
---
<h1 class="text-6xl text-red-600 py-4">Page not found :(</h1>

<p>Go <u><a href="{{ '/' | url }}">Home</a></u>.</p>