---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">

	<title>{{ site.title }}</title>
	<subtitle>{{ site.description }}</subtitle>
	<id>{{ site.feed.url }}</id>
	<link href="{{ site.feed.url }}" rel="self" type="application/atom+xml"/>
	<link href="{{ site.url }}" rel="alternate" type="text/html"/>
	<updated>{{ collections.recentPosts | rssLastUpdatedDate }}</updated>
	<author>
		<name>{{ site.author.name }}</name>
		<uri>{{ site.author.url }}</uri>
	</author>

	{%- for post in collections.recentPosts -%}
	{% set absolutePostUrl %}{{ post.url | url | absoluteUrl(site.url) }}{% endset %}
	<entry>
		<id>{{ absolutePostUrl }}</id>
		<title>{{ post.data.title }}</title>
		<category term="{{ post.data.topic }}"/>
		<link href="{{ absolutePostUrl }}"/>
		<published>{{ post.date | rssDate }}</published>
		<updated>{{ post.date | rssDate }}</updated>
	</entry>
	{%- endfor -%}
</feed>