---
title: Notes
layout: list
permalink: /{{title | lower}}/
eleventyExcludeFromCollections: true
---
<br/>
{{ collections.notes | length }} x short, unstructured posts about random things, posted quickly.

{% set posts = collections.notes | reverse %}
{% include "post-list.njk" %}
