---
title: Photos
layout: list
permalink: /{{title | lower}}/
eleventyExcludeFromCollections: true
---
<br/>
All photos are made by {{ site.copyright.name }}.

{% set posts = collections.photos | reverse %}
{% include "post-list.njk" %}