---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - tagList
  addAllPagesToCollections: true

title: Tags
layout: base
permalink: /tags/{{tag}}/
eleventyExcludeFromCollections: true
---
<main id="main" class="ml-auto mr-auto" style="width:{{ theme.main_width }}">
  <h3 class="text-2xl mt-2">Tagged “{{ tag }}”</h3>
  {% set posts = collections[ tag ] | reverse %}
  {% include "post-list.njk" %}
</main>