---
title: Topics
layout: list
permalink: /topics/
---
<ul class="mt-4">
{% for name, ico in site.topics %}
  <li class="mb-1">
  <a href="/{{ name }}/">
    <span class="inline-block text-center w-6 bg-gray-200">{{ ico }}</span> {{ name | title }}</a>
  </li>
{% endfor %}
</ul>

<h3 class="text-2xl my-3">Tags</h3>

<div class="tags text-sm">
  {% for tag, count in collections.tagList %}
    <span class="inline-block {{ theme.posts_list_color }} bg-gray-200 rounded px-2 py-1 my-1">
      <a href="/tags/{{ tag }}">{{ tag }}<sup class="ml-1 text-gray-600">{{ count }}</sup></a>
    </span>
    &nbsp;
  {% endfor %}
</div>