{% set pageTitle = title + ' - ' + site.name %}
{% set pageDesc = '' %}
{% set currentUrl = site.url + page.url %}

{% if metaTitle %}
  {% set pageTitle = metaTitle %}
{% endif %}

{% if metaDesc %}
  {% set pageDesc = metaDesc %}
{% endif %}

<title>{{ pageTitle }}</title>
{% if site.author %}
<meta name="author" content="{{ site.author.name }}">
<link rel="author" href="{{ site.author.url }}">
{% endif %}
<link rel="canonical" href="{{ currentUrl }}">
<link rel="publisher" href="{{ site.url }}">

<!-- Favicons -->
<link rel="shortcut icon" href="/logo/favicon.ico" />
<link rel="apple-touch-icon" sizes="114x114" href="/logo/favicon-114-precomposed.png">
<link rel="apple-touch-icon" sizes="120x120" href="/logo/favicon-120-precomposed.png">
<link rel="apple-touch-icon" sizes="72x72" href="/logo/favicon-72-precomposed.png">
<link rel="icon" type="image/x-icon" sizes="16x16 32x32" href="/logo/favicon.ico">

<!-- Open Graph meta -->
<meta property="og:locale" content="en_GB" />
<meta property="og:title" content="{{ pageTitle }}" />
<meta property="og:url" content="{{ currentUrl }}" />
<meta property="og:site_name" content="{{ site.name }}">

{% if layout === 'post' %}
  <meta property="og:type" content="article" />
  <link rel="webmention" href="https://webmention.io/crlf.site_author_/webmention" />
  <link rel="pingback" href="https://webmention.io/crlf.site_author_/xmlrpc" />
{% elif page.url === '/author/' %}
  <meta property="og:type" content="profile" />
  <link rel="pgpkey" href="/gpg/pubkey.asc" />
{% else %}
  <meta property="og:type" content="website" />
{% endif %}

{% if description %}
  <meta name="description" content="{{ description }}" />
{% endif %}

{% if socialImage %}
  <meta property="og:image" content="{{ socialImage }}" />
  <meta property="og:image:alt" content="Page image for {{ site.name }}" />
{% endif %}