<div class="flex my-2">
  <ul class="posts-list flex-grow {{ theme.posts_list_color }} text-sm md:text-base">
  {%- for post in posts %}
    {% if post.data.draft and not viewDrafts %}
    {# ignore #}
    {% else %}
    <li class="post-item py-2 {{ theme.posts_list_hover }} ">
        <a href="{{ post.url | url }}" class="flex justify-between">
        {% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif -%}
        <time class="post-day" datetime="{{ post.date | fmtDate("yyyy-MM-dd HH:mm:ss") }}">
          {{ post.date | fmtDate('yyyy LLL dd') }}</time>
        </a>
    </li>
    {% endif -%}
  {% endfor -%}
  </ul>
</div>
