@tailwind base;
@tailwind components;

html,
body {
    height: 99.9%;
}

.has-special-font {
    font-family: Triunfo, system-ui, sans-serif;
    letter-spacing: .05em;
}

ul {
    @apply list-disc my-2;
}

ol {
    @apply list-decimal my-2;
}

ul.posts-list li.post-item {
    @apply border-b border-dashed border-blue-900;
}

blockquote {
    border-left: 0.5rem;
    @apply border-solid border-gray-600 pl-3;
}

code {
    @apply text-orange-200 bg-gray-700 px-1;
}

img#webring {
    width: 26px;
    height: 26px;
}

#footer {
    a {
        @apply border-b border-dotted border-purple-900;
    }
}

#remark42 {
  margin-bottom: 1rem;
}

/* purgecss start ignore */
#article {
    a {
        @apply text-indigo-900 border-b border-dotted border-purple-900;
    }

    .tags a {
        @apply border-0 border-none;
    }

    p {
        @apply my-3;
    }

    h1 {
        font-size: 30px;
        letter-spacing: -0.021em;
        line-height: 42px;
        margin-bottom: 24px;
        padding-top: 6px;
    }

    &:first-child h1 {
        @apply my-0;
    }

    h2 {
        font-size: 24px;
        letter-spacing: -0.019em;
        line-height: 34px;
        margin-bottom: 12px;
        padding-top: 24px;
    }

    h3 {
        font-size: 20px;
        letter-spacing: -0.017em;
        line-height: 28px;
        margin-bottom: 6px;
        padding-top: 12px;
    }

    h4 {
        font-size: 18px;
        letter-spacing: -0.014em;
        line-height: 25px;
        padding-top: 10px;
        margin-bottom: 10px;
    }

    section.date, section.tags, section.mentions {
        margin-left: -3px;
    }
}

article.photos img {
    max-height: 110vmin;
}

/* icons8 line-awesome */
.ico {
  margin: 0;
  padding: 0;
  width: 1.6rem;
  height:1.6rem;
  top: -2px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-size: cover;
  shape-rendering: geometricPrecision;
}
.ico-bookmark {
  background-image: url(/icons/bookmark.svg);
}
.ico-box {
  background-image: url(/icons/box.svg);
}
.ico-calendar {
  background-image: url(/icons/calendar.svg);
}
.ico-camera {
  background-image: url(/icons/camera-retro.svg);
}
.ico-clock {
  background-image: url(/icons/clock.svg);
}
.ico-file {
  background-image: url(/icons/file.svg);
}
.ico-globe-europe {
  background-image: url(/icons/globe-europe.svg);
}
.ico-laptop {
  background-image: url(/icons/laptop-code.svg);
}
.ico-quote-right {
  background-image: url(/icons/quote-right.svg);
}
.ico-robot {
  background-image: url(/icons/robot.svg);
}
.ico-rocket {
  background-image: url(/icons/rocket.svg);
}
.ico-sticky-note {
  background-image: url(/icons/sticky-note.svg);
}
.ico-tags {
  background-image: url(/icons/tags.svg);
}
/* purgecss end ignore */

@tailwind utilities;

body {
    font-family: "Inter var", system-ui, sans-serif !important;
    font-kerning: normal;
    font-feature-settings: "kern", "liga", "calt", "ss02", "cv08";
    font-variant-ligatures: contextual common-ligatures;
}
