---
title: Base
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# <meta http-equiv="Content-Security-Policy" content="default-src https: 'unsafe-inline'; font-src 'self'; object-src 'none'; frame-src 'none'"> #}
    {% include "meta.njk" %}
    <style>
    @font-face {
      font-family: 'Inter var';
      font-weight: 100 900;
      font-display: swap;
      font-style: normal;
      font-named-instance: 'Regular';
      src: url("/fonts/Inter/Inter-upright-var.woff2") format("woff2");
      font-display: swap;
    }
    @font-face {
        font-family: 'Inter var';
        font-weight: 100 900;
        font-display: swap;
        font-style: italic;
        font-named-instance: 'Italic';
        src: url("/fonts/Inter/Inter-italic-var.woff2") format("woff2");
        font-display: swap;
    }
    @font-face {
      font-family: 'Triunfo';
      font-style: normal;
      font-weight: 400;
      src: url("/fonts/Triunfo/Triunfo-Regular-Cond.otf") format("opentype");
      font-display: swap;
    }
    </style>
    <link href="/css/styles.css" rel="stylesheet">
  </head>
  <body class="flex flex-col {{ theme.body_bg }}">
    {% include "header.njk" %}
    <section class="flex mt-4 mb-6 px-6" style="flex:1 0 auto">
      {{ content | safe }}
    </section>
    {% if layout === 'post' %}
      {% include "comments.njk" %}
    {% endif %}
    {% include "footer.njk" %}
    <noscript><img src="{{ site.analytics_site }}/pixel.gif"></noscript>
    <script src="{{ site.analytics_site }}/script.js" defer></script>
  </body>
</html>