---
title: Base
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    {% include "meta.njk" %}
    <link href="/css/styles.css" rel="stylesheet">
  </head>
  <body class="flex flex-col bg-gray-100">
    {% include "header.njk" %}
    <section class="flex mt-4 mb-6 px-6" style="flex:1 0 auto">
      {{ content | safe }}
    </section>
    {% include "footer.njk" %}
  </body>
</html>