---
title: Base
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include "meta.njk" %}
    <link href="/css/styles.css" rel="stylesheet">
  </head>
  <body class="flex flex-col {{ theme.body_bg }}">
    {% include "header.njk" %}
    <section class="flex mt-4 mb-6 px-6" style="flex:1 0 auto">
      {{ content | safe }}
    </section>
    {% include "footer.njk" %}
    <script src="https://getinsights.io/static/js/insights.js"></script>
    <script>
    insights.init('{{ site.insights_api_key }}', {
      ignoreErrors: true,
      disabled: window.location.hostname === 'localhost'
    })
    insights.trackPages()
    </script>
  </body>
</html>