---
title: List
layout: base
eleventyExcludeFromCollections: true
---
<main id="main" class="ml-auto mr-auto" style="width:{{ theme.main_width }}">
<h3 class="text-2xl mt-2">{{ title }}</h3>
{{ content | safe }}
</main>