---
title: Post
layout: base
---
<article id="article" class="ml-auto mr-auto h-entry {{ topic }}"
  style="{% if topic === 'photos' %}max-width:{{ theme.photo_width }}{% else %}width:{{ theme.main_width }}{% endif %}">

  {% if title %}
    <h1 class="{{ theme.post_h1_color }} p-name">{{ title }}</h1>
  {% endif %}
  {% if excerpt %}
    <h3 class="{{ theme.post_h3_color }} p-summary">{{ excerpt }}</h3>
  {% endif %}

  <section class="date text-gray-800 pt-2 entry-meta grid grid-cols-2">
    <span title="Created at">
      <span class="ico ico-calendar"></span>
      <time class="dt-published" datetime="{{ page.date | rssDate }}">
        {{ page.date | fmtDate('yyyy LLL dd, ccc') }}</time>
    </span>
    {% if source %}
      <span class="text-right mr-1" title="First posted on/ Original source">
      <span class="ico ico-box"></span>{{ source }}</span>
    {% endif %}
  </section>

  {% if topic === 'articles' %}
  <section class="text-gray-800 pt-2" title="Reading time">
    <span class="ico ico-clock"></span> <span>{{ content | getReadingTime }} min</span>
  </section>
  {% endif %}

  <section class="e-content">
    {{ content | safe }}
  </section>

  <section class="tags text-sm leading-loose py-2">
    {% if tags %}
    <span title="Tagged as"><span class="ico ico-tags"></span></span>
    {% endif %}
    {% for tag in tags %}
      {% if tag == topic %}
        <span class="{{ theme.tag_bg }} rounded font-medium px-2 py-1 my-1 mr-1 p-category">
          <a href="/{{ tag }}">@{{ tag }}</a>
        </span>
      {% else %}
        <span class="{{ theme.tag_bg }} rounded px-2 py-1 my-1 mr-1">
          <a href="/tags/{{ tag }}">#{{ tag }}</a>
        </span>
      {% endif %}
    {% endfor %}
  </section>

  {% if mentions[page.url] %}
  <section class="mentions text-sm font-medium leading-loose py-2 text-gray-800">
    <span title="Webmentions">✨ </span>
    {%- if mentions[page.url]['like-of'] -%}
      <span class="{{ theme.tag_bg }} rounded px-2 py-1 my-1 mr-1">
      {{ mentions[page.url]['like-of'] }} Likes
      </span>
    {% endif %}
    {%- if mentions[page.url]['mention-of'] -%}
      <span class="{{ theme.tag_bg }} rounded px-2 py-1 my-1 mr-1">
      {{ mentions[page.url]['mention-of'] }} Mentions
      </span>
    {% endif %}
    {%- if mentions[page.url]['repost-of'] -%}
      <span class="{{ theme.tag_bg }} rounded px-2 py-1 my-1 mr-1">
      {{ mentions[page.url]['repost-of'] }} Reposts
      </span>
    {% endif %}
    {%- if mentions[page.url]['in-reply-to'] -%}
      <span class="{{ theme.tag_bg }} rounded px-2 py-1 my-1">
      {{ mentions[page.url]['in-reply-to'] }} Replies
      </span>
    {% endif %}
  </section>
  {% endif %}

</article>

{% if hasCode %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/zenburn.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js" integrity="sha256-eOgo0OtLL4cdq7RdwRUiGKLX9XsIJ7nGhWEKbohmVAQ=" crossorigin="anonymous"></script>
<script>hljs.initHighlightingOnLoad()</script>
{% endif %}
